:root {
    --color-primary: rgb(100, 0, 166);
    --color-secondary: rgba(51, 255, 0, 0.17);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body {
    background-color: rgb(89, 76, 100);
}

header {
    background-color: aliceblue;
    width: 80%;
    height: 124px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px 10px #0000004f;
    border-bottom: 1px rgba(0, 0, 0, 0.192) solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: -62px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 80%;

    padding-inline: 130px;
}

header img{
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;

    font-weight: 600;
    font-size: 20px;
}

.lista-nav {
    list-style-type: none; 
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

#container {
    background-color: aliceblue;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 130px;
    box-shadow: 0px 0px 15px 10px #0000004f;
    justify-content: center;
    align-items: center;
}

.aboutme-titulo {
    text-align: center;
    font-size: 90px;
    margin-top: 40px;
    margin-bottom: 80px;
    color: var(--color-primary);
}

.cardAbout {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
}

.text {
    max-width: 620px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.text h1 {
    text-align: center;
    font-size: 50px;
} 

.text i {
    color: var(--color-primary);
}

i {
    margin-top: 10px;
    font-size: 50px;
}

.cardAbout img {
    height: 316px;
}

.social {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}